body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: black;
    color: white;
}

canvas {
    background-color: black;
}

.todo {
    margin-top: 50px;
    font-size: 20px;
}