body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-image: url(./img/assets/desertBackground.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'zabras', Arial, Helvetica, sans-serif;
    user-select: none;
    overflow-y: hidden;
}

h1 {
    color: black;
    font-size: 64px;
    letter-spacing: 3px;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.533);
    margin-block: 0;
    margin-bottom: 10px;
}

h2 {
    margin-block: 0;
    margin-bottom: 20px;
    filter: drop-shadow(0 0 0.75rem white);
}

canvas {
    background-image: url(./img/5_background/layers/air.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}

p {
    margin-block: 0;
}

#canvas-wrap {
    border: 3px solid black;
    position: relative;
}

#overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(./img/9_intro_outro_screens/start/startscreen_2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}

.endScreenButtons button {
    width: 150px;
    height: 50px;
    border-radius: 30px;
    border: 3px solid black;
    font-size: 24px;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #c76758;
    font-weight: bold;
    cursor: pointer;
}

.startButton {
    font-family: 'zabras', Arial, Helvetica, sans-serif;
    font-size: 36px;
    position: absolute;
    left: 50%;
    top: 25px;
    width: 200px;
    height: 40px;
    transform: translateX(-50%);
    cursor: pointer;
    background: linear-gradient(180deg, rgba(255, 203, 26, 1) 0%, rgba(255, 158, 0, 1) 100%);
    border: 3px solid black;
    border-radius: 30px;
}

.mobileLeft {
    display: flex;
}

.mobileLeft img {
    width: 30px;
    padding: 5px;
    margin-left: 20px;
    border: 4px solid black;
    border-radius: 30px;
}

.mobileRight img {
    width: 30px;
    padding: 5px;
    margin-right: 20px;
    border: 4px solid black;
    border-radius: 30px;
}

.mobileButtons {
    position: absolute;
    width: 100%;
    height: 60px;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: none;
}

.infoHeader {
    text-decoration: underline;
    margin-bottom: 10px;
    font-weight: bold;
}

.closeImage {
    width: 20px;
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
}

.rotateDevice {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: none;
    font-size: 30px;
    color: black;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    flex-direction: column;
}

.rotateDevice img {
    width: 100px;
    margin-bottom: 20px;
}

/* #winningScreen {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 40px;
    letter-spacing: 10px;
} */

.endScreen {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 40px;
    letter-spacing: 10px;
    flex-direction: column;
}


#infos-wrap {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
}

#info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 400px;
    height: 80%;
    background-color: #c76758;
    border-radius: 30px;
    border: 3px solid black;
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
}

#info .controls,
#info .credits {
    height: 50%;
    margin-top: 5px;
    width: 100%;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#infoButton {
    width: 40px;
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 75px;
}

#toggleSoundButton {
    width: 50px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 10px;
}

@media only screen and (max-width: 730px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}

@media only screen and (max-height: 600px) {
    h1 {
        display: none;
    }
}

@media (max-width: 600px) {
    .rotateDevice {
        display: flex;
    }

    h1 {
        display: none;
    }

    #canvas-wrap {
        display: none;
    }
}

@font-face {
    font-family: 'zabras';
    src: url(./fonts/Zabars.ttf) format('truetype');
}